.theme-bg-primary {
    background-color: #41A4F5;
}

.page-heading {
    font-weight: bold;
    font-size: 2rem;
}

.profile-small {
    width: 80px;
    height: 80px;
}

html body {
    background: #F7F8FA !important;;
}

/*----------------------------------------------*/
/*--------------------FOOTER--------------------*/
/*----------------------------------------------*/
.footer {
    background: #434E5E;
}

.text-light {
    color: #f5f6f8 !important;
}

.text-center {
    text-align: center !important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}